$submitwidth: ((250 /16*1rem)+($margin*3));

.main-search {
    position: relative;
    top: 50%;
    margin-top: -60px;
    text-align: center;
    
    @include transition(top 0.3s ease);

    &.active {
        top: 20%;
    }
}

.main-search-wrap {
    overflow: hidden;
    
    width: 90%;
    margin: 0 auto;
    padding-right: $submitwidth;
}

.main-search-box {
    position: relative;
    float: left;

    display: inline-block;
    width: 100%;
    
    p {
        font-weight: 300;
    }
}

.main-search-input {
    width: 100%;
    padding: $margin*2 $margin*3;
    padding-right: $margin*5;

    background: $beige;    
    border: none;

    color: white;
    font-size: 32 /16*1rem;
    font-weight: 300;

    -webkit-appearance: none;
    
    &::-webkit-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &::-ms-input-placeholder {
        opacity: 50%;
    }
}

.main-search-advanced-toggle {
    @include icon(settings, $replace: true, $color: white, $size: 32 /16*1rem);

    position: absolute;
    right: $margin*4;
    top: 50%;
    margin-top: -17.5 /16*1rem;
    
    .advanced &:before {
        color: $darkblue;
    }
}

.main-search-submit {
    float: left;

    min-width: 250 /16*1rem;
    padding: $margin*2 $margin*3;
    margin-left: $margin*3;
    margin-right: -$submitwidth;
    
    background: $teal;
    border: none;
    
    font-size: 32 /16*1rem;
    font-weight: 300;
    color: white;
    
    -webkit-appearance: none;
}

.main-search-advanced-options {
    max-height: 0;
    opacity: 0;
    -webkit-transform: scale(0);

    float: right;
    
    width: 450 /16*1rem;
    padding: 30 /16*1rem;
    margin-top: $margin*2;
    margin-right: -$submitwidth;
    
    background: $xdarkblue;

    text-align: left;
    color: rgba(white, 0.5);
    
    @include transition(all 0.3s ease);
    
    &:after,
    &:before {
        content: '';
        
        position: absolute;
        bottom: 100%;
        
        height: 0;
        width: 0;
        
        border: solid transparent;
        
        pointer-events: none;
    }

    &:after {
        border-color: rgba($xdarkblue, 0);
        border-bottom-color: $xdarkblue;
        border-width: $margin*2;
        right: $submitwidth + 1.6rem;
    }

    &:before {
        border-color: rgba($darkblue, 0);
        border-bottom-color: $darkblue;
        border-width: $margin*3.5;
        right: $submitwidth + 0.7rem;
    }

    .advanced & {
        max-height: 450 /16*1rem;
        opacity: 1;
        -webkit-transform: scale(1);
    }

    fieldset {
        margin: 0 (-$margin*3);
        padding: $margin*3;
        
        border-bottom: 2px solid $darkblue;
        
        &:first-child {
            padding-top: 0;
            
            legend {
                top: 0;
            }
        }
    }

    legend {
        position: relative;
        top: $margin*3;
        
        margin-bottom: $margin*3;

        text-align: left;
        font-size: 24 /16*1rem;
        font-weight: normal;
        line-height: 1;
    }

    label {
        font-size: 20 /16*1rem;
        color: rgba(white, 0.75);
    }

    .checkbox {
        margin-right: $margin*2;
    }

    input[type="checkbox"] {
        width: 30 /16*1rem;
        height: 30 /16*1rem;
        
        &:checked:after {
            line-height: 1.9;
        }
    }

    input:checked + span {
        color: white;
    }

    .togglestate {
        @include hide-text;

        position: relative;
                    
        display: inline-block;
        
        width: 34 /16*1rem;
        height: 34 /16*1rem;
        margin-right: $margin*3;
        
        border: 2px solid transparent;
        @include border-radius(34 /16*1rem);
        
        cursor: pointer;
        
        &.off:after {
            content: '␡';
            
            position: absolute;
            top: 0;
            left: 0;
            
            width: 100%;
            text-align: center;
            text-indent: 0;
            
            font-family: "symbolset";
            font-size: 20 /16*1rem;
            line-height: 1.85;
            color: $darkblue;
        }
        
        @each $type in white $white, green $green, blue $blue, red $red, black $black {
            &.#{nth($type, 1)} {
                border-color: #{nth($type, 2)};
                
                &.on {
                    background: #{nth($type, 2)};
                }

                &.off {
                    background: #{nth($type, 2)};
                }
            }
        }
    }
}

.main-search-results {
    @include kill-list;

    clear: both;

    width: 100%;
    margin-top: $margin*2;
    
    background: $xdarkblue;
}

.main-search-result {
    text-align: left;
    
    font-size: 32 /16*1rem;
    
    a {
        display: block;
        padding: $margin*2 $margin*3.5;
        
        color: white;
        
        &:hover {
            background: rgba($beige, 0.25);
        }
    }
}