@charset "utf-8";
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "symbolset";
  src: url('fonts/icons/symbolset/symbolset-webfont.eot');
  src: url('fonts/icons/symbolset/symbolset-webfont.eot?#iefix') format('eot'), url('fonts/icons/symbolset/symbolset-webfont.woff') format('woff'), url('fonts/icons/symbolset/symbolset-webfont.ttf') format('truetype'), url('fonts/icons/symbolset/symbolset-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "social";
  src: url('fonts/icons/social/social.eot');
  src: url('fonts/icons/social/social.eot?#iefix') format('eot'), url('fonts/icons/social/social.woff') format('woff'), url('fonts/icons/social/social.ttf') format('truetype'), url('fonts/icons/social/social.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* line 49, scss/_defaults.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 53, scss/_defaults.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: none;
}

/* line 59, scss/_defaults.scss */
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  background: #2f343b;
}

/* line 68, scss/_defaults.scss */
a {
  text-decoration: none;
}

/* line 72, scss/_defaults.scss */
hr {
  height: 1px;
  margin: 1.25rem 0;
  border: 0;
}

/* line 88, scss/_defaults.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0.625rem 0;
  font-weight: bold;
}
/* line 92, scss/_defaults.scss */
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

/* line 97, scss/_defaults.scss */
h1 {
  font-size: 22px;
  font-weight: normal;
  line-height: 1;
}

/* line 103, scss/_defaults.scss */
h2 {
  font-size: 1.125rem;
  font-weight: normal;
}

/* line 108, scss/_defaults.scss */
h3 {
  font-size: 1rem;
  font-weight: normal;
}

/* line 113, scss/_defaults.scss */
h4, h5, h6 {
  font-weight: normal;
  font-size: 1.875rem;
}

/* line 129, scss/_defaults.scss */
ul, ol {
  margin: 0.625rem 0 0.625rem 1.875rem;
}
/* line 132, scss/_defaults.scss */
ul li, ol li {
  margin: 0.3125rem 0;
}

/* line 136, scss/_defaults.scss */
ul {
  list-style-type: disc;
}

/* line 139, scss/_defaults.scss */
ol {
  list-style-type: decimal;
}

/* line 143, scss/_defaults.scss */
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

/* line 3, scss/modules/_form.scss */
input,
button,
select {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

/* line 8, scss/modules/_form.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  position: relative;
  top: -2px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0.625rem;
  background: transparent;
  border: 1px solid #7e827a;
}
/* line 23, scss/modules/_form.scss */
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background: #7e827a;
}
/* line 27, scss/modules/_form.scss */
input[type="checkbox"]:checked:after,
input[type="radio"]:checked:after {
  position: absolute;
  color: #2a2d34;
}

/* line 38, scss/modules/_form.scss */
input[type="checkbox"]:checked:after {
  content: '✓';
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: "symbolset";
  line-height: 1.5;
  font-size: 1.125rem;
  font-weight: bold;
}

/* line 55, scss/modules/_form.scss */
.checkbox input {
  margin-right: 0.625rem;
}

/* line 3, scss/modules/_search.scss */
.main-search {
  position: relative;
  top: 50%;
  margin-top: -60px;
  text-align: center;
  -webkit-transition: top 0.3s ease;
  -moz-transition: top 0.3s ease;
  -o-transition: top 0.3s ease;
  transition: top 0.3s ease;
}
/* line 11, scss/modules/_search.scss */
.main-search.active {
  top: 20%;
}

/* line 16, scss/modules/_search.scss */
.main-search-wrap {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  padding-right: 17.5rem;
}

/* line 24, scss/modules/_search.scss */
.main-search-box {
  position: relative;
  float: left;
  display: inline-block;
  width: 100%;
}
/* line 31, scss/modules/_search.scss */
.main-search-box p {
  font-weight: 300;
}
/* line 35, scss/modules/_search.scss */
.results .main-search-box {
  margin-bottom: 1.25rem;
}

/* line 40, scss/modules/_search.scss */
.main-search-input {
  width: 100%;
  padding: 1.25rem 1.875rem;
  padding-right: 3.125rem;
  background: #7e827a;
  border: none;
  color: white;
  font-size: 2rem;
  font-weight: 300;
  -webkit-appearance: none;
}
/* line 57, scss/modules/_search.scss */
.main-search-input::-webkit-placeholder, .main-search-input:-moz-placeholder, .main-search-input::-moz-placeholder, .main-search-input::-ms-input-placeholder {
  opacity: 50%;
}

/* line 62, scss/modules/_search.scss */
.main-search-advanced-toggle {
  position: relative;
  font-size: 1px;
  letter-spacing: -1px;
  color: transparent;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  right: 2.5rem;
  top: 50%;
  margin-top: -1.09375rem;
}
/* line 118, scss/modules/_iconfont.scss */
.main-search-advanced-toggle:before {
  display: inline-block;
  font-family: "symbolset";
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  color: white;
  vertical-align: middle;
  text-decoration: inherit;
  margin-right: 0.25em;
}
/* line 152, scss/modules/_iconfont.scss */
.main-search-advanced-toggle:before {
  position: absolute;
  left: 50%;
  display: inline-block;
  margin: 0 0 0 -1rem;
  font-size: 2rem;
  line-height: inherit;
  color: white;
}
/* line 176, scss/modules/_iconfont.scss */
.main-search-advanced-toggle:before {
  content: '⚙';
}
/* line 70, scss/modules/_search.scss */
.advanced .main-search-advanced-toggle:before {
  color: #2f343b;
}

/* line 75, scss/modules/_search.scss */
.main-search-submit {
  float: left;
  min-width: 15.625rem;
  padding: 1.25rem 1.875rem;
  margin-left: 1.875rem;
  margin-right: -17.5rem;
  background: #306e73;
  border: none;
  font-size: 2rem;
  font-weight: 300;
  color: white;
  -webkit-appearance: none;
}

/* line 93, scss/modules/_search.scss */
.main-search-advanced-options {
  max-height: 0;
  opacity: 0;
  -webkit-transform: scale(0);
  float: right;
  width: 28.125rem;
  padding: 1.875rem;
  margin-top: 1.25rem;
  margin-right: -17.5rem;
  background: #2a2d34;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -webkit-transition-delay: 0ms;
  -moz-transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms;
  -o-transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms;
  transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms;
}
/* line 113, scss/modules/_search.scss */
.main-search-advanced-options:after, .main-search-advanced-options:before {
  content: '';
  position: absolute;
  bottom: 100%;
  height: 0;
  width: 0;
  border: solid transparent;
  pointer-events: none;
}
/* line 127, scss/modules/_search.scss */
.main-search-advanced-options:after {
  border-color: rgba(42, 45, 52, 0);
  border-bottom-color: #2a2d34;
  border-width: 1.25rem;
  right: 19.1rem;
}
/* line 134, scss/modules/_search.scss */
.main-search-advanced-options:before {
  border-color: rgba(47, 52, 59, 0);
  border-bottom-color: #2f343b;
  border-width: 2.1875rem;
  right: 18.2rem;
}
/* line 141, scss/modules/_search.scss */
.advanced .main-search-advanced-options {
  max-height: 28.125rem;
  opacity: 1;
  -webkit-transform: scale(1);
}
/* line 147, scss/modules/_search.scss */
.main-search-advanced-options fieldset {
  margin: 0 -1.875rem;
  padding: 1.875rem;
  border-bottom: 2px solid #2f343b;
}
/* line 153, scss/modules/_search.scss */
.main-search-advanced-options fieldset:first-child {
  padding-top: 0;
}
/* line 156, scss/modules/_search.scss */
.main-search-advanced-options fieldset:first-child legend {
  top: 0;
}
/* line 162, scss/modules/_search.scss */
.main-search-advanced-options legend {
  position: relative;
  top: 1.875rem;
  margin-bottom: 1.875rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1;
}
/* line 174, scss/modules/_search.scss */
.main-search-advanced-options label {
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.75);
}
/* line 179, scss/modules/_search.scss */
.main-search-advanced-options .checkbox {
  margin-right: 1.25rem;
}
/* line 183, scss/modules/_search.scss */
.main-search-advanced-options input[type="checkbox"] {
  width: 1.875rem;
  height: 1.875rem;
}
/* line 187, scss/modules/_search.scss */
.main-search-advanced-options input[type="checkbox"]:checked:after {
  line-height: 1.9;
}
/* line 192, scss/modules/_search.scss */
.main-search-advanced-options input:checked + span {
  color: white;
}
/* line 196, scss/modules/_search.scss */
.main-search-advanced-options .togglestate {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  position: relative;
  display: inline-block;
  width: 2.125rem;
  height: 2.125rem;
  margin-right: 1.875rem;
  border: 2px solid transparent;
  -webkit-border-radius: 2.125rem;
  -moz-border-radius: 2.125rem;
  -ms-border-radius: 2.125rem;
  -o-border-radius: 2.125rem;
  border-radius: 2.125rem;
  cursor: pointer;
}
/* line 212, scss/modules/_search.scss */
.main-search-advanced-options .togglestate.off:after {
  content: '␡';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  text-indent: 0;
  font-family: "symbolset";
  font-size: 1.25rem;
  line-height: 1.85;
  color: #2f343b;
}
/* line 230, scss/modules/_search.scss */
.main-search-advanced-options .togglestate.white {
  border-color: white;
}
/* line 233, scss/modules/_search.scss */
.main-search-advanced-options .togglestate.white.on {
  background: white;
}
/* line 237, scss/modules/_search.scss */
.main-search-advanced-options .togglestate.white.off {
  background: white;
}
/* line 230, scss/modules/_search.scss */
.main-search-advanced-options .togglestate.green {
  border-color: #1ea800;
}
/* line 233, scss/modules/_search.scss */
.main-search-advanced-options .togglestate.green.on {
  background: #1ea800;
}
/* line 237, scss/modules/_search.scss */
.main-search-advanced-options .togglestate.green.off {
  background: #1ea800;
}
/* line 230, scss/modules/_search.scss */
.main-search-advanced-options .togglestate.blue {
  border-color: #008bbe;
}
/* line 233, scss/modules/_search.scss */
.main-search-advanced-options .togglestate.blue.on {
  background: #008bbe;
}
/* line 237, scss/modules/_search.scss */
.main-search-advanced-options .togglestate.blue.off {
  background: #008bbe;
}
/* line 230, scss/modules/_search.scss */
.main-search-advanced-options .togglestate.red {
  border-color: #ff4924;
}
/* line 233, scss/modules/_search.scss */
.main-search-advanced-options .togglestate.red.on {
  background: #ff4924;
}
/* line 237, scss/modules/_search.scss */
.main-search-advanced-options .togglestate.red.off {
  background: #ff4924;
}
/* line 230, scss/modules/_search.scss */
.main-search-advanced-options .togglestate.black {
  border-color: black;
}
/* line 233, scss/modules/_search.scss */
.main-search-advanced-options .togglestate.black.on {
  background: black;
}
/* line 237, scss/modules/_search.scss */
.main-search-advanced-options .togglestate.black.off {
  background: black;
}

/* line 245, scss/modules/_search.scss */
.main-search-results {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
  display: none;
  width: 100%;
  background: #2a2d34;
}
/* line 255, scss/modules/_search.scss */
.results .main-search-results {
  display: block;
}

/* line 260, scss/modules/_search.scss */
.main-search-result {
  text-align: left;
  font-size: 2rem;
}
/* line 265, scss/modules/_search.scss */
.main-search-result a {
  display: block;
  padding: 1.25rem 2.1875rem;
  color: white;
  line-height: 1;
}
/* line 272, scss/modules/_search.scss */
.main-search-result a:hover {
  background: rgba(126, 130, 122, 0.25);
}
/* line 277, scss/modules/_search.scss */
.main-search-result:first-child a {
  padding-top: 1.875rem;
}
/* line 281, scss/modules/_search.scss */
.main-search-result:last-child a {
  padding-bottom: 1.875rem;
}

/* line 286, scss/modules/_search.scss */
.main-search-result-manacost {
  display: inline-block;
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 2.125rem;
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 2rem;
  text-align: center;
}
/* line 299, scss/modules/_search.scss */
.main-search-result-manacost.white {
  background: white;
}
/* line 299, scss/modules/_search.scss */
.main-search-result-manacost.green {
  background: #1ea800;
}
/* line 299, scss/modules/_search.scss */
.main-search-result-manacost.blue {
  background: #008bbe;
}
/* line 299, scss/modules/_search.scss */
.main-search-result-manacost.red {
  background: #ff4924;
}
/* line 299, scss/modules/_search.scss */
.main-search-result-manacost.black {
  background: black;
}
/* line 299, scss/modules/_search.scss */
.main-search-result-manacost.grey {
  background: #6b6d79;
}
/* line 304, scss/modules/_search.scss */
.main-search-result-cardname + .main-search-result-manacost {
  margin-left: 1.875rem;
}
