@charset "utf-8";
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "symbolset";
  src: url('fonts/icons/symbolset/symbolset-webfont.eot');
  src: url('fonts/icons/symbolset/symbolset-webfont.eot?#iefix') format('eot'), url('fonts/icons/symbolset/symbolset-webfont.woff') format('woff'), url('fonts/icons/symbolset/symbolset-webfont.ttf') format('truetype'), url('fonts/icons/symbolset/symbolset-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "social";
  src: url('fonts/icons/social/social.eot');
  src: url('fonts/icons/social/social.eot?#iefix') format('eot'), url('fonts/icons/social/social.woff') format('woff'), url('fonts/icons/social/social.ttf') format('truetype'), url('fonts/icons/social/social.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* line 39, scss/_defaults.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 43, scss/_defaults.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: none;
}

/* line 49, scss/_defaults.scss */
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  background: #2f343b;
}

/* line 58, scss/_defaults.scss */
a {
  text-decoration: none;
}

/* line 62, scss/_defaults.scss */
hr {
  height: 1px;
  margin: 1.25rem 0;
  border: 0;
}

/* line 78, scss/_defaults.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0.625rem 0;
  font-weight: bold;
}
/* line 82, scss/_defaults.scss */
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

/* line 87, scss/_defaults.scss */
h1 {
  font-size: 22px;
  font-weight: normal;
  line-height: 1;
}

/* line 93, scss/_defaults.scss */
h2 {
  font-size: 1.125rem;
  font-weight: normal;
}

/* line 98, scss/_defaults.scss */
h3 {
  font-size: 1rem;
  font-weight: normal;
}

/* line 103, scss/_defaults.scss */
h4, h5, h6 {
  font-weight: normal;
  font-size: 1.875rem;
}

/* line 124, scss/_defaults.scss */
ul, ol {
  margin: 0.625rem 0 0.625rem 1.875rem;
}
/* line 127, scss/_defaults.scss */
ul li, ol li {
  margin: 0.3125rem 0;
}

/* line 131, scss/_defaults.scss */
ul {
  list-style-type: disc;
}

/* line 134, scss/_defaults.scss */
ol {
  list-style-type: decimal;
}

/* line 138, scss/_defaults.scss */
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

/* line 1, scss/modules/_search.scss */
.main-search {
  position: relative;
  top: 50%;
  margin-top: -60px;
  text-align: center;
  -webkit-transition: top 0.3s ease;
  -moz-transition: top 0.3s ease;
  -o-transition: top 0.3s ease;
  transition: top 0.3s ease;
}
/* line 9, scss/modules/_search.scss */
.main-search.active {
  top: 10%;
}

/* line 14, scss/modules/_search.scss */
.main-search-box {
  position: relative;
  display: inline-block;
  width: 50%;
}
/* line 20, scss/modules/_search.scss */
.main-search-box p {
  font-weight: 300;
}

/* line 25, scss/modules/_search.scss */
.main-search-input {
  width: 100%;
  padding: 1.25rem 1.875rem;
  padding-right: 3.125rem;
  background: #7e827a;
  border: none;
  color: white;
  font-size: 2rem;
  font-weight: 300;
  -webkit-appearance: none;
}
/* line 42, scss/modules/_search.scss */
.main-search-input::-webkit-placeholder, .main-search-input:-moz-placeholder, .main-search-input::-moz-placeholder, .main-search-input::-ms-input-placeholder {
  opacity: 50%;
}

/* line 47, scss/modules/_search.scss */
.main-search-advanced-toggle {
  position: relative;
  font-size: 1px;
  letter-spacing: -1px;
  color: transparent;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  right: 2.5rem;
  top: 50%;
  margin-top: -0.75rem;
}
/* line 118, scss/modules/_iconfont.scss */
.main-search-advanced-toggle:before {
  display: inline-block;
  font-family: "symbolset";
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  color: white;
  vertical-align: middle;
  text-decoration: inherit;
  margin-right: 0.25em;
}
/* line 152, scss/modules/_iconfont.scss */
.main-search-advanced-toggle:before {
  position: absolute;
  left: 50%;
  display: inline-block;
  margin: 0 0 0 -1rem;
  font-size: 2rem;
  line-height: inherit;
  color: white;
}
/* line 168, scss/modules/_iconfont.scss */
.main-search-advanced-toggle:before {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga", "dlig";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}
/* line 187, scss/modules/_iconfont.scss */
.main-search-advanced-toggle:before {
  content: '⚙';
}

/* line 56, scss/modules/_search.scss */
.main-search-submit {
  min-width: 15.625rem;
  padding: 1.25rem 1.875rem;
  margin-left: 1.875rem;
  background: #306e73;
  border: none;
  font-size: 2rem;
  font-weight: 300;
  color: white;
  -webkit-appearance: none;
}
